
#boton-google {
    display: block;
    z-index: 1001;
    position: absolute;
    right: 0.625rem;
    top: 11rem;
    cursor: pointer;
    border: 0.188rem solid rgba(255,255,255, 0.4);
    border-radius: 4px;
}
.googleviewer-activado{
    opacity: 0.8;
    border: 0.188rem solid rgba(86,86,86, 1) !important;
}

