#boton-mapillary{
    display: block;
    z-index: 1001;
    position: absolute;
    right: 10px;
    top: 135px;
    cursor: pointer;
    border: 3px solid rgba(255,255,255, 0.4);
    border-radius: 4px;
}

#mly {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    float: left;
}

.mapillary-activado{
    opacity: 0.8;
    border: 3px solid rgba(86,86,86, 1) !important;
}